<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category %> Events</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
    <style>
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</head>
<body>
    <h1 class="bg-info text-white p-3 m-0"><%= category %> Events</h1>
    <head><%- include('partials/navbar.ejs') %></head>
    <div class="container-fluid">
        <% if (events.length === 0) { %>
            <p class="mt-3">No current events in this category.</p>
        <% } else { %>
            <% events.forEach(event => { %>
                <div class="card p-4 mt-3">
                    <h2><%= event.title %></h2>
                    <p>Date: <%= new Date(event.geometry[0].date).toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric'}) %></p>
                    <p>Coordinates: <%= event.geometry[0].coordinates %></p>
                </div>
            <% }) %>
        <% } %>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>